
services:
  db:
    image: postgres:15
    container_name: odoo-db
    environment:
      POSTGRES_DB: TS-MMV
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    networks:
      - odoo-net

  odoo:
    image: odoo:16
    container_name: odoo-web
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: odoo
      DB_PASSWORD: odoo
      DB_NAME: TS-MMV
    
    volumes:
      - ./odoo-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
    networks:
      - odoo-net

volumes:
  odoo-db-data:

networks:
  odoo-net:
    driver: bridge